black==24.4.2
chromadb==0.5.5
datasets==2.20.0
google_search_results==2.4.2
httptools==0.6.1
ipykernel==6.29.5
langchain-experimental==0.0.63
langchain-openai==0.1.21
langchainhub==0.1.20
load-dotenv==0.1.0
pip==24.2
pipline==0.0
plotly==5.23.0
PyMuPDF==1.24.9
pypdf==4.3.1
pysqlite3-binary==0.5.3
redis==5.0.8
streamlit==1.36.0
tavily-python==0.3.5
tf_keras==2.17.0
transformers==4.44.0
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
youtube-search==2.1.2
